<div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card shadow p-4">
                <h2 class="text-center mb-4">Sign up Empresa</h2>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-inputs">
                    <%= f.input :email,
                                required: true,
                                autofocus: true,
                                placeholder: "your@email.com",
                                input_html: { class: 'form-control mb-3', autocomplete: "email" }%>
                    <%= f.input :password,
                                required: true,
                                placeholder: "Enter your password",
                                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                                input_html: { class: 'form-control mb-3', autocomplete: "new-password" } %>
                    <%= f.input :password_confirmation,
                                required: true,
                                placeholder: "Confirm your password",
                                input_html: { class: 'form-control mb-3', autocomplete: "new-password" } %>
                  </div>

                  <div class="form-actions text-center mt-4">
                    <%= f.button :submit, "Sign up", class: "btn btn-primary w-100" %>
                  </div>
                <% end %>

                <div class="mt-3 text-center">
                  <%= render "devise/shared/links" %>
                </div>
              </div>
            </div>
</div>
